header {
  width: 1280px;
  margin: 0 auto;
  height: 81px;
}

.logo {
  float: left;
  margin-top: 10px;
}

.headerWrap {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 1280px;
  height: 100%;
}

/* 고정 너비 내비게이션 */
.head {
  width: 990px;
  margin: 0 auto;
}

/* 1차 메뉴 */
#gnb { position: relative;} 
#gnb > li {
  width: 20%; height: 81px; 
  float: left;
  text-align: center;
  display: table;
  /* li의 자식을 테이블로 쓰겠다. */
}
#gnb > li > a {
  font-weight: bold;
  display: table-cell; /* 공식*/
  vertical-align: middle; /* 공식 */
  transition: all 0.4s;
  color: #000;
}

#gnb > li > a:hover,
#gnb > li > a:focus,
#gnb > li > a.on {
 color: #e94609;
}

/* 2차 메뉴 */

#gnb > li > ul {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  top: 80px;
  width: 20%;
  height: 200px;
}
.sub > li { text-align: center;}

/* 2차 메뉴 배치 */
#gnb li.nav1 ul { left: 0%;}
#gnb li.nav2 ul { left: 20%;}
#gnb li.nav3 ul { left: 40%;}
#gnb li.nav4 ul { left: 60%;}
#gnb li.nav5 ul { left: 80%;}

.sub > li { padding: 0 10px;} /* 상하 좌우 */
.sub > li > a {
  display: block;
  padding: 8px 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: #000;
}

.sub > li > a:hover,
.sub > li > a:focus { color: #e94609;}

#gnb > li >ul.on {
  background-color: #e94609;
}